/* popin  */

.myElement {
    box-shadow: 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f, 0 5px 5px -3px #00000033;
    padding: 20px 20px 40px;
    position: fixed !important;
    bottom: -5px;
    background-color: #fff;
    z-index: 1000;
    right: 10%;
    width: 420px;
    border-radius: 3px;
    text-align: center;
}

.inktnerButton1298 {
    font-size: 15px;
    position: fixed;
    bottom: 0px;
    right: 196px;
    color: #fff;
    background-color: rgb(68, 141, 214);
    padding: 5px 13px 5px 8px;
    border-radius: 4px 4px 0px 0px;
    cursor: pointer;
}

.inktnerButton1298::before {
    font-family: FontAwesome;
    content: "\f077";
    font-size: 15px;
    padding: 0px 8px 0px 4px;
    top: -2px;
    position: relative;
}

.myElement .ms-bullets.ms-dir-h {
    bottom: -32px !important;
}

.myElement .master-slider {
    max-height: 230px !important;
}

.myElement i.fa.fa-circle-o-notch.fa-spin {
    color: #fff;
    display: none;
}

#applyDiscountButton {
    position: relative;
    top: 10px;
}

@media only screen and (max-width: 768px) {
    .myElement {
        width: 300px;
    }
}

.myElement i.material-icons {
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 30px;
}

.myElement i.material-icons:hover {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

span.select2.select2-container {
    width: 100% !important;
}

/* end of popin */